@media screen and (max-width: 1169px) {
	h2{
		font-size: 42px;
	}

	.wrap-menu {
		max-width: 1140px;
	}

	.navbar-logo {
		margin-left: 5px;
	}

	.navbar {
		height: 100px;
	}

	.menu-header__link {
		padding: 45px 15px !important;
		font-size: 18px;
	}

	.menu-phone{
		padding: 42px 15px !important;
		font-size: 23px;
	}

	.navbar-logo img {
		max-height: 100px;
	}

	header{
		height: 800px;
	}

	.header__title{
		margin: 0 0 38px;
		font-size: 60px;
	}

	.header__subtitle{
		max-width: 590px;
		margin: 0 0 60px;
		font-size: 24px;
	}

	.green-button {
		width: 270px;
		padding: 18px 0;
		font-size: 23px;
		font-weight: 900;
		border-radius: 40px;
	}

	.feedback-form__input {
		width: 300px;
		padding: 16px 25px;
		font-size: 23px;
	}

	.benefit__item-title, .benefit__item-subtitle {
		font-size: 30px;
	}

	.catalog-item__name{
		padding-top: 30px;
	}

	.buy-item__img {
		width: 130px;
	}

	.buy-item__text {
		margin-left: 170px;
	}

	.buy-item__title{
		font-size: 28px;
	}

	.buy-item__subtitle {
		font-size: 16px;
	}

}

@media screen and (max-width: 991px) {
	.feedback-form__input {
		width: 100%;
		max-width: 400px;
		margin-bottom: 15px;
	}

	input::-webkit-input-placeholder {
		font-size: 23px;
	}

	input::-moz-placeholder {
		font-size: 23px;
	}

	input:-moz-placeholder {
		font-size: 23px;
	}

	input:-ms-input-placeholder {
		font-size: 23px;
	}

	.buy-item {
		margin-bottom: 50px;
	}
}

@media screen and (max-width: 850px) {
	.menu-header__link {
		padding: 45px 12px !important;
		font-size: 16px;
	}

	.menu-phone{
		padding: 42px 12px !important;
		font-size: 21px;
	}
}

@media screen and (max-width: 767px) {
	h2{
		font-size: 30px;
		margin: 60px 0 50px;
	}

	.menu-header {
		float: none;
		background: rgba(255, 255, 255, 0.8);
		position: relative;
		z-index: 100;
		width: 100%;
		margin: 0;
		padding: 15px 0;
	}

	.menu-header__link{
		padding: 10px 15px !important;
		font-size: 18px;
		text-align: center;
	}

	.navbar {
		height: 70px;
		background: rgba(255, 255, 255, 0.8);
	}

	.navbar-logo img {
		max-height: 70px;
	}

	.navbar-logo {
		padding: 0;
	}

	header{
		height: 550px;
	}

	.header__main-text{
		top: 55%;
	}

	.header__title {
		margin: 0 0 25px;
		font-size: 50px;
	}

	.header__subtitle {
		max-width: 590px;
		margin: 0 0 50px;
		font-size: 18px;
	}

	.green-button {
		width: 240px;
		padding: 16px 0;
		font-size: 20px;
		font-weight: 600;
		border-radius: 30px;
	}

	.benefit__item-title, .benefit__item-subtitle, .catalog-item__name {
		font-size: 24px;
	}


	.benefit-img {
		margin-top: 10px;
	}

	footer {
		height: 330px;
	}

	body {
		margin-bottom: 330px !important;
	}

    .footer-logo{
	    display: none;
    }

	.footer-column {
		width: 200px;
		margin: 0 auto 20px;
	}

	.footer-title {
		font-size: 24px;
	}

}

@media screen and (max-width: 380px) {
	h2{
		font-size: 24px;
		margin: 50px 0 40px;
	}

	.l-container {
		padding: 0 5px;
	}

	.header__main-text {
		text-align: center;
	}

	.header__title {
		font-size: 42px;
	}

	.header__subtitle {
		font-size: 16px;
	}

	.benefit__item-title, .benefit__item-subtitle {
		font-size: 20px;
		margin: 0 0 5px;
	}

	.item-block{
		padding-bottom: 70px;
	}

	input::-webkit-input-placeholder {
		font-size: 20px;
	}

	input::-moz-placeholder {
		font-size: 20px;
	}

	input:-moz-placeholder {
		font-size: 20px;
	}

	input:-ms-input-placeholder {
		font-size: 20px;
	}

	.feedback-form__input {
		font-size: 20px;
	}

	.feedback-wrap {
		padding: 70px 0;
	}

	.buy-item__img{
		float: none;
		width: 120px;
		margin: 0 auto 20px;
	}

	.buy-item__text{
		margin-left: 0;
	}

    .buy-item{
	    text-align: center;
    }

	.buy-item__title {
		font-size: 24px;
	}

	.benefit__item-title:before {
		margin: 0 10px 6px 0;
		width: 15px;
	}

	.footer-column{
		width: 100%;
	}

}